{
    Filter = {
        Bundles = (
            "com.apple.shortcuts",
            "com.apple.Preferences",
            "com.apple.springboard",
            "com.anthopak.powercuts",
            "com.apple.WorkflowKit.BackgroundShortcutRunner",
            "com.apple.WorkflowKit.ShortcutsIntents",
        );
    };
}
